
.container-fluid{
    padding-left: 0px;
}

.admin{
    position: relative;
    .incon-menu{
        z-index: 10000;
    position: absolute;
    color: rgb(252 248 247);
    left: 150px;
    width: 40px;
    top:38px;
    font-size: 28px;
    background-color: #f30303;
    border-radius: 500px;
    text-align: center;
    height: 40px;
    }
    display: flex;
    .admin-left{
        z-index: 1;
        .click{
            h1{
                 color: rgb(255, 30, 0);
            }
           
        }
        background-color: rgb(36, 32, 32);
        height: 100vh;
        padding: 0px 20px 20px 20px;
        .logo{
            color: rgb(245, 245, 245);
            h1{
                margin-top: 20px;
                font-size: 20px;
                text-align: center;
                border-bottom: 1px solid white;
                height:40px;
                
            }
        }
        a{
            text-decoration: none;
            color: white; 
            &:hover{
                color: rgb(242, 255, 0);
            }
            h1{
                 font-size: 15px;
                 text-align: center;
                 margin-top: 20px;
                 display: flex;
                 justify-content: start;
                 padding-left: 20px;
                 svg{
                    padding-right: 20px;
                 }
            }
        }
    }
    .admin-right{
        width: 100%;
    }
}